* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#desc {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px;
    font-size: 5rem;
    color: white;
}

#bg {
  width: 100vw;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  z-index: -999;
}

input {
    background: transparent;
    backdrop-filter: blur(50px);
    font-size: 1.5rem;
    color: white;
    border-radius: 15px;
    padding: .5rem 1rem;
}